$sidebar-background: hsl(0, 0%, 72%);
$dropdown-background: hsl(0, 0%, 63%);
$main-background: hsl(223, 100%, 86%);
$font-color: black;
$nav-font-color: white;
$ticket-button-color: hsl(210, 79%, 56%);
