.header {
  height: 60px;
  width: 100%;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  .logo {
    padding: 4px 0 0 45px;
    width: fit-content;

    img {
      width: 50px;
    }
  }

  .search-bar {
    position: absolute;
    margin: 10px 0 0 60px;
  }

  .topnav-right {
    float: right;
    padding: 10px 5px;
    a {
      text-decoration: none;
      font-size: 1.3rem;
    }
  }
}
